body{
    background-image: url("../images/logo.jpg");
    background-attachment: fixed;
    background-size: 100%, 100%;
    position: relative;

}

#heading {
    color: blue;
    text-align: center;
    font-family: cursive;
}

.container {
    position: relative;
    width: 25%;
    border: 2.5px solid black;
    border-radius: 27px;
    padding: 10px;
    float: left;
    margin: 10px;
    height: 250px;
    
  }

  .image {
    display: block;
    width: 90%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #272727;
    border-radius: 25px;
    border: black;
  }

  .container:hover .overlay {
    opacity: 1;
  }

  .container-final:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .login-signup {
    clear: both;
  }

 h2{
    font-family: cursive;
 }

 p{
    font-family: cursive;
    padding: 2px;
    padding-top: 2px;
 }

 .container-final {
    position: relative;
    width: 25%;
    border: 2.5px solid black;
    border-radius: 27px;
    padding: 10px;
    float: left;
    margin: 10px;
    height: 250px;
    clear: both;
  }

  .form-box {
    border: 1px solid black;
    padding: 20px;
  }