<!DOCTYPE html>
{% load static %}

<head lang="en">
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" alt="my images">
        <title>
            Dashboard
        </title>
    </head>
<html>
<main>
<div class="navbar">
    <div class="search">
    <form action="{% url 'launch' %}">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">  ⛭  </button>
    </form>
      <a href="{% url 'social' %}">Social</a>
      <a href="{% url 'personal' %}">Profile</a>
  </div>
</div>
</main>
</html>
<!--
{% block title_block %}
  User Profile
{% endblock %}

{% block content %}
  <h1>User Profile</h1>
  <p>Welcome, {{ user.username }}!</p>

  <h2>Account Information</h2>
  <ul>
    <li>First Name: {{ user.first_name }}</li>
    <li>Last Name: {{ user.last_name }}</li>
    <li>Email: {{ user.email }}</li>
  </ul>

  {% if user.userprofile.picture %}
    <img src="{{ user.userprofile.picture.url }}" alt="{{ user.username }} profile picture" width="200px">
  {% else %}
    <p>No profile picture uploaded.</p>
  {% endif %}

  <h2>Update Profile Picture</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ picture_form.as_p }}
    <button type="submit" class="btn btn-primary">Update</button>
  </form>

  <a href="{% url 'logout' %}" class="btn btn-primary">Log Out</a>
{% endblock %}
-->