{% extends 'shelves/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
{% if media %}
{{ media.title }}
{% else %}
Unknown
{% endif %}
{% endblock %}

{% block body_block %}
{% if media %}
<div class="jumbotron p-4">
    <div class="container">
        <h1>{{ media.title }}</h1>
        <h5>made by {{ media.writer }}</h5>
    </div>
</div>
<div class="container">
    <div class="row">
        <ul type="bulletpoint">
            <li>Average Score: {{ media.avgScore }}</li>
            <li>Language: {{ media.language }}</li>
            <li>Release date: {{ media.releaseDate }}</li>
            {% if media.type|title == "Book" %}
            <li>ISBN: {{ media.book.isbn }}</li>
            {% endif %}
            {% if media.type|title == "Movie" %}
            <li>Duration: {{ media.movie.duration }}</li>
            {% endif %}
            {% if media.type|title == "Show" %}
            <li>Seasons: {{ media.show.seasons }}</li>
            <li>Episodes: {{ media.show.episodes }}</li>
            {% endif %}
            {% if media.type == "Song" %}
            <li>Duration: {{ media.song.duration }}</li>
            {% endif %}
            <!-- Need to enter code for cover image -->
        </ul>
    </div>
    <h5>Posts</h5>
    <div class="row mb-2">
        <div class="col-md-2 themed-grid-col">Title</div>
        <div class="col-md-2 themed-grid-col">Rating</div>
        <div class="col-md-2 themed-grid-col">Comment</div>
        <div class="col-md-2 themed-grid-col">Publish Date</div>
        <div class="col-md-2 themed-grid-col">Likes</div> <br>
        <div class="col-md-2 themed-grid-col">Posted by</div> <br>
        <hr style="width:95%">
        {% if posts %}
        {% for post in posts %}
        <div class="col-md-2 themed-grid-col">{{ post.title }}</div>
        <div class="col-md-2 themed-grid-col">{{ post.rating }} out of 10 stars</div>
        <div class="col-md-2 themed-grid-col">{{ post.comment }}</div>
        <div class="col-md-2 themed-grid-col">{{ post.publishDate }}</div>
        <div class="col-md-2 themed-grid-col">{{ post.likes }}</div>
        <div class="col-md-2 themed-grid-col"><a href="{% url 'shelves:profile' post.user.username %}">
            {{ post.user.username }}</a></div>
        <hr style="width:95%">
        {% endfor %}
        {% else %}
        <strong>No posts have been uploaded for this {{ media.type|lower }}.</strong>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
    <a href="{% url 'shelves:add_post' media.type media.slug %}"><Strong>Add Post?</Strong></a><br>
    {% else %}
    <p>You need to be logged in to add a post. <a href="/accounts/login/"> <Strong>Log in</Strong> </a> </p>
    {% endif %}

</div>
{% else %}
The media you specified is not available. Return to the <a
    href="{% url 'shelves:index' %}"><strong>Homepage</strong>.</a>
{% endif %}
{% endblock %}