<!DOCTYPE html>
{% extends "shelves/base.html" %}

{% block title_block %}
  View User Profile
{% endblock %}

{% block content %}
    <h1>HELLO!</h1>
    <h1>User Profile</h1>
    <p>Welcome, {{ user.username }}!</p>

    <h2>Account Information</h2>
    <ul>
    <li>First Name: {{ user.first_name }}</li>
    <li>Last Name: {{ user.last_name }}</li>
    <li>Email: {{ user.email }}</li>s
    <li>Age: {{ profile.age }}</li>
    <li>Join Date: {{ profile.joinDate }}</li>
    </ul>

    {% if profile.picture %}
    <img src="{{ profile.picture.url }}" alt="{{ user.first_name }} {{ user.last_name }}" width="200px">
    {% else %}
    <p>No profile picture uploaded.</p>
    {% endif %}

    <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
    <a href="{% url 'logout' %}" class="btn btn-primary">Log Out</a>
{% endblock %}
